<div layout="column" flex>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="ctrl.entities[ctrl.entity].selected.length || filter.show">
        <div class="md-toolbar-tools" layout="start center" flex layout="row">
            <h2 class="md-title">{{ctrl.page.name}}</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="filter.show = true">
                <md-icon class="material-icons">search</md-icon>
            </md-button>
            <md-button  class="md-icon-button md-raised md-primary" ng-click="ctrl.download()">
                    <md-icon class="material-icons">file_download</md-icon>
                </md-button>
            <!--md-button class="md-raised md-primary" ng-if="!ctrl.page.readOnly" ng-click="ctrl.create($event)">
                <md-icon class="material-icons">add</md-icon>
            </md-button-->
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !ctrl.entities[ctrl.entity].selected.length">
        <div class="md-toolbar-tools" layout="start center" flex layout="row">
            <md-icon class="material-icons">search</md-icon>
            <form flex name="filter.form" layout="row">
                <input flex="100" type="text" ng-model="ctrl.entities[ctrl.entity].query.filter" ng-model-options="ctrl.entities[ctrl.entity].filter.options"
                    placeholder="Buscar" ng-change="ctrl.update()">
            </form>
            <md-button class="md-icon-button" ng-click="ctrl.removeFilter()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.entities[ctrl.entity].selected.length">
        <div class="md-toolbar-tools" layout="start center" flex layout="row">
            <div>{{ctrl.entities[ctrl.entity].selected.length}} {{ctrl.entities[ctrl.entity].selected.length > 1 ? 'items seleccionados'
                : 'item seleccionado'}}</div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.delete($event)">
                <md-icon class="material-icons">delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" layout="row" ng-show="ctrl.entities[ctrl.entity].filters.length > 0">
        <span flex></span>
        <md-select flex ng-repeat="filter in ctrl.entities[ctrl.entity].filters" ng-model="filter.selected" placeholder="{{filter.name}}"
            ng-change="ctrl.updateFilter(filter)">
            <md-option value="null">{{filter.name}}</md-option>
            <md-option ng-repeat="o in filter.options" value="{{o[filter.foreign_key]}}">{{o[filter.foreign_name]}}</md-option>
        </md-select>
    </md-toolbar>
    <md-table-container>
        <table md-table md-progress="promise">
            <thead md-head md-order="ctrl.entities[ctrl.entity].query.order" md-on-reorder="ctrl.update">
                <tr md-row>
                    <th md-column md-order-by="id" style="max-width:150px">
                        <span>Id</span>
                    </th>
                    <th md-column md-order-by="name" style="max-width:150px">
                        <span>Nombre</span>
                    </th>
                    <!--th md-column md-order-by="secondname">
                        <span>Segundo Nombre</span>
                    </th-->
                    <th md-column md-order-by="lastname" style="max-width:150px">
                        <span>Apellido</span>
                    </th>
                    <!--th md-column md-order-by="secondlastname">
                        <span>Segundo Apellido</span>
                    </th-->
                    <th md-column style="max-width:150px">
                        <span>Email</span>
                    </th>
                    <th md-column style="max-width:150px">
                        Empresa
                    </th>
                    <th md-column md-order-by="active" style="max-width:150px">
                        <span>Activo</span>
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in ctrl.data">
                    <td md-cell ng-click="ctrl.details(item)" style="max-width:150px">
                        {{item.id}}
                    </td>
                    <td md-cell ng-click="ctrl.details(item)" style="max-width:150px">
                        {{item.name}}
                    </td>
                    <!--td md-cell>
                        {{item.secondname}}
                    </td-->
                    <td md-cell ng-click="ctrl.details(item)" style="max-width:150px">
                        {{item.lastname}}
                    </td>
                    <!--td md-cell>
                        {{item.secondlastname}}
                    </td-->
                    <td md-cell ng-click="ctrl.details(item)" style="max-width:150px">
                        {{item.email}}
                    </td>
                    <td md-cell ng-click="ctrl.details(item)" style="max-width:150px">
                        {{item.institutions[0].name}}
                    </td>
                    <td md-cell ng-click="ctrl.details(item)" style="max-width:150px">
                        <md-checkbox name="activo" ng-disabled="true" ng-model="item.active" aria-label="activo"></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.entities[ctrl.entity].query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.entities[ctrl.entity].query.page"
        md-total="{{ctrl.entities[ctrl.entity].total_results}}" md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"
        md-on-paginate="ctrl.update" md-page-select></md-table-pagination>
</div>