<div layout="column" flex>
  <!--main container -->
  <!--div class="breadcrum" ng-bind-html="ctrl.breadcrum"></div-->
  <!-- one columns -->
  <!-- -->
  <md-toolbar layout="row" flex layout-padding ng-if="ctrl.languages.length">
    <span flex></span>
    <div flex>
      <md-select flex ng-model="ctrl.language" ng-change="ctrl.getData()">
        <md-option ng-repeat="lang in ctrl.languages" value="{{lang.id}}">
          <md-icon md-svg-src="{{lang.icon}}"></md-icon>{{lang.name}}</md-option>
      </md-select>
    </div>
  </md-toolbar>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="datos básicos" md-on-select="ctrl.selectTab(null)">
      <md-content layout-spacing="center">
        <md-toolbar class="md-hue-1" layout="row" flex>
          <span flex></span>
          <md-button ng-if="!ctrl.loading" class="md-accent md-raised" ng-click="ctrl.sendMessage($event)" ng-disabled="!ctrl.data">Enviar Mensaje</md-button>
          <md-button ng-if="!ctrl.loading" class="md-accent md-raised" ng-click="ctrl.saveItem($event)" ng-disabled="ctrl.form.$invalid">Guardar</md-button>
          <md-progress-circular class="md-accent" md-mode="indeterminate" ng-if="ctrl.loading" aria-label="Cargando"> </md-progress-circular>
        </md-toolbar>
        <form class="md-padding" name="ctrl.form" layout="row" flex>
          <div layout="row" layout-wrap class="input-row" layout-padding flex>
            <md-input-container flex="50">
              <label>Id</label>
              <input type="text" ng-model="ctrl.data.id" ng-disabled="true">
            </md-input-container>
            <md-input-container flex="50">
              <label>Nombre</label>
              <input type="text" ng-model="ctrl.data.name" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Segundo Nombre</label>
              <input type="text" ng-model="ctrl.data.secondname" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Apellido</label>
              <input type="text" ng-model="ctrl.data.lastname" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Segundo Apellido</label>
              <input type="text" ng-model="ctrl.data.secondlastname" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Correo electrónico</label>
              <input type="text" ng-model="ctrl.data.email" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Telefóno</label>
              <input type="text" ng-model="ctrl.data.phone" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Extensión</label>
              <input type="text" ng-model="ctrl.data.extension" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Célular</label>
              <input type="text" ng-model="ctrl.data.mobile" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Organización</label>
              <input type="text" ng-model="ctrl.data.organization" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Nivel escolar</label>
              <input type="text" ng-model="ctrl.data.education_level" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Ocupación</label>
              <input type="text" ng-model="ctrl.data.ocupation" >
            </md-input-container>
            <md-input-container flex="50">
              <label>Puntos</label>
              <input type="text" ng-model="ctrl.data.points" ng-disabled="true">
            </md-input-container>
            <md-input-container flex="50">
              <md-checkbox ng-model="ctrl.data.active" aria-label="Activo">Activo</md-checkbox>
            </md-input-container>
            <md-input-container flex="50">
              <md-checkbox ng-model="ctrl.data.terms" aria-label="Terminos" ng-disabled="true">Términos y Condiciones</md-checkbox>
            </md-input-container>
            <md-input-container flex="50">
              <md-checkbox ng-model="ctrl.data.tmp_pwd" aria-label="Cambiar Clave la Próxima vez que inicie sesión">Cambiar Clave la Próxima vez que inicie sesión</md-checkbox>
            </md-input-container>
            <md-input-container flex="50">
              <md-select ng-model="ctrl.data.id_availability">
                <md-option ng-repeat="o in ctrl.options.id_availability" value="{{o.id}}">{{o.name}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="50">
                <label>Tipo de Documento</label>
              <md-select ng-model="ctrl.data.id_type_document">
                <md-option ng-repeat="o in ctrl.options.id_type_document" value="{{o.id}}">{{o.name}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="50">
              <label>Documento</label>
              <input type="text" ng-model="ctrl.data.document" >
            </md-input-container>
            <md-input-container flex="50">
              <label>País</label>
              <md-autocomplete md-items="item in ctrl.entities.country.data" md-item-text="item.name " md-selected-item="ctrl.data.country"
                md-selected-item-change="ctrl.selectedCountry(item)" md-search-text-change="ctrl.entities.country.search()"
                md-search-text="ctrl.entities.country.query.filter" md-select-on-match="true" md-input-name="country" md-autofocus="true"
                md-autoselect="true" placeholder="País">
                <md-item-template>
                  <span md-highlight-text="ctrl.entities.country.query.filter" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
              </md-autocomplete>
            </md-input-container>
            <md-input-container flex="50">
              <label>Región</label>
              <md-autocomplete md-items="item in ctrl.entities.region.data" md-item-text="item.name " md-selected-item="ctrl.data.region"
                md-selected-item-change="ctrl.selectedRegion(item)" md-search-text-change="ctrl.entities.region.search()" md-search-text="ctrl.entities.region.query.filter"
                md-select-on-match="true" md-input-name="institution" md-autofocus="true" md-autoselect="true" placeholder="Region">
                <md-item-template>
                  <span md-highlight-text="ctrl.entities.region.query.filter" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
              </md-autocomplete>
            </md-input-container>
            <md-input-container flex="50">
              <label>Ciudad</label>
              <md-autocomplete md-items="item in ctrl.entities.city.data" md-item-text="item.name " md-selected-item="ctrl.data.city" md-selected-item-change="ctrl.selectedCity(item)"
                md-search-text-change="ctrl.entities.city.search()" md-search-text="ctrl.entities.city.query.filter" md-select-on-match="true"
                md-input-name="city" md-autofocus="true" md-autoselect="true" placeholder="Ciudad">
                <md-item-template>
                  <span md-highlight-text="ctrl.entities.city.query.filter" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
              </md-autocomplete>
            </md-input-container>
            <md-input-container flex="50">
              <label>Fecha de Creación</label>
              <md-datepicker ng-model="ctrl.data.timestamp" ng-disabled="true"></md-datepicker>
            </md-input-container>
          </div>
        </form>
        <p ng-if="ctrl.form.$submitted && ctrl.form.$invalid" class="md-warn" layout="row" layout-align="start center">
          <i class="material-icons">error_outline</i>
          <span>&nbsp; Todos los campos son necesarios</span>
        </p>
      </md-content>
    </md-tab>
    <md-tab label="Temáticas de Interés">
      <div layout="column" flex>
        <table md-table md-row-select multiple ng-model="ctrl.entities.questiontopic.selected" md-progress="ctrl.entities.questiontopic.promise">
          <thead md-head md-order="ctrl.entities.questiontopic.query.order" md-on-reorder="ctrl.entities.questiontopic.getData">
            <tr md-row>
              <th md-column md-order-by="id">
                <span>Id</span>
              </th>
              <th md-column md-order-by="name">
                <span>Nombre</span>
              </th>
              <th md-column md-order-by="description">
                <span>Descripción</span>
              </th>
              <th md-column>
                <md-select multiple="true" ng-model="ctrl.entities.questiontopic.query.filters.id_usertype" placeholder="Tipo de Usuario"
                  ng-change="ctrl.entities.questiontopic.getData()">
                  <md-option ng-repeat="o in ctrl.entities.usertype.data" value="{{o.id}}">{{o.name}}</md-option>
                </md-select>
              </th>
              <th md-column>
                <md-select multiple="true" ng-model="ctrl.entities.questiontopic.query.filters.id_category" placeholder="Categoría" ng-change="ctrl.entities.questiontopic.getData()">
                  <md-option ng-repeat="o in ctrl.entities.category.data" value="{{o.id}}">{{o.name}}</md-option>
                </md-select>
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-on-select="ctrl.selectQt" md-on-deselect="ctrl.unselectQt" md-select="item[ctrl.entities.questiontopic.table.defaultSort]"
              md-auto-select ng-repeat="item in ctrl.entities.questiontopic.data">
              <td md-cell>
                <span>{{ item.id }}</span>
              </td>
              <td md-cell>
                <span>{{ item.name }}</span>
              </td>
              <td md-cell>
                <span>{{ item.description }}</span>
              </td>
              <td md-cell>
                <span>{{ item.user_type.name }}</span>
              </td>
              <td md-cell>
                <span>{{ item.category.name }}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <md-table-pagination md-limit="ctrl.entities.questiontopic.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.entities.questiontopic.query.page"
          md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-total="{{ctrl.entities.questiontopic.total_results}}"
          md-on-paginate="ctrl.entities.questiontopic.getData" md-page-select></md-table-pagination>
      </div>
    </md-tab>
    <md-tab label="Puntos">
      <md-toolbar class="md-hue-1" layout="row" flex layout-align="start center">
        <span flex></span>
        <md-button class="md-icon-button md-raised md-primary" ng-click="ctrl.downloadPoints()">
          <md-icon class="material-icons">file_download</md-icon>
        </md-button>
        <md-button class="md-raised md-accent" ng-click="ctrl.createPoints($event)">AGREGAR PUNTOS</md-button>
      </md-toolbar>
      <md-content>
        <div layout="column" flex>
          <table md-table md-progress="ctrl.entities.points.promise">
            <thead md-head md-on-reorder="ctrl.entities.points.getData" md-order="ctrl.entities.points.query.order">
              <tr md-row>
                <th md-column md-order-by="id">
                  <span>Id</span>
                </th>
                <th md-column>
                  <span>Puntos Anteriores</span>
                </th>
                <th md-column>
                  <span>Puntos Ganados</span>
                </th>
                <th md-column>
                  <span>Total Puntos</span>
                </th>
                <th md-column md-order-by="id_motives">
                  <span>Motivo</span>
                </th>
                <th md-column>
                  <span>Justificación</span>
                </th>
                <th md-column md-order-by="timestamp">
                  <span>Fecha</span>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="item in ctrl.entities.points.data">
                <td md-cell>
                  <span>{{ item.id }}</span>
                </td>
                <td md-cell>
                  <span>{{ item.prev_points }}</span>
                </td>
                <td md-cell>
                  <span>{{ item.value }}</span>
                </td>
                <td md-cell>
                  <span>{{ item.result }}</span>
                </td>
                <td md-cell>
                  <span>{{ ctrl.entities.motivename.data | linkvalue:{name:'name',foreign_key:'id',foreign_name:'name'}:item.motives
                    }}
                  </span>
                </td>
                <td md-cell>
                  <span>{{ item.justification }}</span>
                </td>
                <td md-cell>
                  <span>{{ item.timestamp | date }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <md-table-pagination md-limit="ctrl.entities.points.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.entities.points.query.page"
            md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-total="{{ctrl.entities.points.total_results}}"
            md-on-paginate="ctrl.entities.points.getData" md-page-select></md-table-pagination>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Requisitos">
      <md-content>
        <div layout="column" flex>
          <table md-table md-progress="ctrl.entities.evaluation_request.promise">
            <thead md-head md-order="ctrl.entities.evaluation_request.query.order" md-on-reorder="ctrl.entities.evaluation_request.getData">
              <tr md-row>
                <th md-column>
                  <span> - </span>
                </th>
                <th md-column md-order-by="id_question">
                  <span>Requisito</span>
                </th>
                <th md-column md-order-by="id_service">
                  <span>Servicio</span>
                </th>
                <th md-column>
                  <md-select multiple="true" ng-model="ctrl.entities.evaluation_request.query.filters['service.id_category']" placeholder="Categoría"
                    ng-change="ctrl.entities.evaluation_request.getData()">
                    <md-option ng-repeat="o in ctrl.entities.category.data" value="{{o.id}}">{{o.name}}</md-option>
                  </md-select>
                </th>
                <th md-column>
                  <md-select multiple="true" ng-model="ctrl.entities.evaluation_request.query.filters['question.level']" placeholder="Nivel"
                    ng-change="ctrl.entities.evaluation_request.getData()">
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                  </md-select>
                </th>
                <th md-column>
                  <md-select multiple="true" ng-model="ctrl.entities.evaluation_request.query.filters.id_request_status" placeholder="Estado"
                    ng-change="ctrl.entities.evaluation_request.getData()">
                    <md-option ng-repeat="o in ctrl.entities.request_status.data" value="{{o.id}}">{{o.name}}</md-option>
                  </md-select>
                </th>
                <th md-column md-order-by="end_time">
                  <span>Tiempo Limite</span>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="item in ctrl.entities.evaluation_request.data">
                <td md-cell>
                  <md-icon class="material-icons" ng-if="item.alert_time < ctrl.today && item.status.id < 7">warning</md-icon>
                </td>
                <td md-cell style="max-width:200px">
                  <span>{{ item.question.id }} - {{item.question.text}}</span>
                </td>
                <td md-cell style="max-width:200px">
                  <span>{{ item.service.id }} - {{ item.service.name }}</span>
                </td>
                <td md-cell>
                  <span>{{ ctrl.entities.category.data | linkvalue:{name:'id_category',foreign_key:'id',foreign_name:'name'}:item.service
                    }}</span>
                </td>
                <td md-cell>
                  <span>{{ item.question.level }}</span>
                </td>
                <td md-cell>
                  <span>{{ item.status.name }}</span>
                </td>
                <td md-cell>
                  <span>{{ item.end_time | date }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <md-table-pagination md-limit="ctrl.entities.evaluation_request.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.entities.evaluation_request.query.page"
            md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-total="{{ctrl.entities.evaluation_request.total_results}}"
            md-on-paginate="ctrl.entities.evaluation_request.getData" md-page-select></md-table-pagination>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>
</div>