<div layout="column" flex>
  <!--main container -->
  <!--div class="breadcrum" ng-bind-html="ctrl.breadcrum"></div-->
  <!-- one columns -->
  <!-- -->
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="datos básicos" md-on-select="ctrl.selectTab(null)">
      <md-content layout-spacing="center">
        <md-toolbar class="md-hue-1" layout="row" flex>
          <span flex></span>
          <md-button ng-if="!ctrl.loading" class="md-accent md-raised" ng-click="ctrl.saveItem($event)" ng-disabled="ctrl.form.$invalid">Guardar</md-button>
          <md-progress-circular class="md-accent" md-mode="indeterminate" ng-if="ctrl.loading" aria-label="Cargando"> </md-progress-circular>
        </md-toolbar>
        <form class="md-padding" name="ctrl.form" layout="row" flex>
          <div layout="row" layout-wrap class="input-row" layout-padding flex>
            <md-input-container flex="50">
               <label >Id</label>
               <input type="text" ng-disabled="true" ng-model="ctrl.data.id">
            </md-input-container>
            <md-input-container flex="50">
                <label>Categoría</label>
                <md-select multiple ng-model="ctrl.entities.questiontopic.query.filters.id_category" ng-change="ctrl.entities.questiontopic.getData()">
                  <md-option ng-repeat="o in ctrl.entities.category.data" value="{{o.id}}">{{o.name}}</md-option>
                </md-select>
              </md-input-container>
            <md-input-container flex="50">
              <label>Temática</label>
              <md-select ng-model="ctrl.data.id_topic">
                <md-option ng-repeat="o in ctrl.entities.questiontopic.data" value="{{o.id}}">{{o.name}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="50">
                <label >Nivel</label>
                <input type="text" ng-disabled="false" ng-model="ctrl.data.level">
             </md-input-container>
            <md-input-container flex="50">
              <md-checkbox ng-model="ctrl.data.active" name="name" aria-label="Activo">Activo</md-checkbox>
            </md-input-container>
             <md-input-container flex="50">
                <label >Nombre del Requisito</label>
                <textarea ng-model="ctrl.data.text" ng-required="true"></textarea>
             </md-input-container>
             <md-input-container flex="50">
                <label >Criterio</label>
                <textarea ng-model="ctrl.data.criteria" ng-required="true"></textarea>
             </md-input-container>
             <md-input-container flex="50">
                <label >Evidencia</label>
                <textarea ng-model="ctrl.data.evidence" ng-required="true"></textarea>
             </md-input-container>
             <md-input-container flex="50">
                <label>Soporte Legal</label>
                <textarea ng-model="ctrl.data.legal_support"></textarea>
             </md-input-container>
             <md-input-container flex="50">
                <label >Ayuda</label>
                <textarea ng-model="ctrl.data.help"></textarea>
             </md-input-container>
          </div>
        </form>
        <p ng-if="ctrl.form.$submitted && ctrl.form.$invalid" class="md-warn" layout="row" layout-align="start center">
          <i class="material-icons">error_outline</i>
          <span>&nbsp; Todos los campos son necesarios</span>
        </p>

      </md-content>
    </md-tab>
  </md-tabs>
</div>