<div layout="column" flex>
  <!--main container -->
  <!--div class="breadcrum" ng-bind-html="ctrl.breadcrum"></div-->
  <!-- one columns -->
  <!-- -->
  <md-toolbar layout="row" flex layout-padding ng-if="ctrl.languages.length">
    <span flex></span>
    <div flex>
      <md-select flex ng-model="ctrl.language" ng-change="ctrl.getData()">
        <md-option ng-repeat="lang in ctrl.languages" value="{{lang.id}}">
          <md-icon md-svg-src="{{lang.icon}}"></md-icon>{{lang.name}}</md-option>
      </md-select>
    </div>
  </md-toolbar>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="datos básicos" md-on-select="ctrl.selectTab(null)">
      <md-content class="md-padding" layout-spacing="center">
        <div class="md-actions" layout="row" flex>
          <span flex></span>
          <md-button class="md-primary md-raised" ng-click="ctrl.saveItem($event)" ng-disabled="ctrl.form.$invalid">Guardar</md-button>
        </div>
        <form name="ctrl.form" layout="row" flex>
          <div layout="row" layout-wrap class="input-row" layout-padding flex>
            <md-input-container ng-repeat="f in ctrl.service.currentEntity.fields track by $index" ng-if="f.name!=='password'" flex="100">
              <label ng-if="f.type!=='boolean' && f.type !=='file' && f.type !=='text'">{{f.name | translate}}</label>
              <input type="number" ng-if="f.type=='int'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled" />
              <input type="text" ng-if="f.type=='string'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled" />
              <md-datepicker ng-model="ctrl.data[f.name]" ng-if="f.type=='datetime'" ng-disabled="f.disabled"></md-datepicker>
              <input type="email" ng-if="f.type=='email'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled" />
              <md-checkbox ng-if="f.type=='boolean'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled">{{f.name | translate}}</md-checkbox>
              <md-select ng-if="f.type=='link'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled">
                <md-option ng-repeat="o in ctrl.options[f.name]" value="{{o[f.foreign_key]}}">{{o[f.foreign_name]}}</md-option>
              </md-select>
              <div ng-if="f.type=='text'">
                <span>{{f.name | translate}}</span>
                  <text-angular ng-if="f.type=='text'" ng-model="ctrl.data[f.name]"></text-angular>
              </div>
              
              <div style="text-align:center;" ng-if="f.type=='file'" ngf-select ng-model="ctrl.data[f.name]">
                <img ngf-thumbnail="ctrl.data[f.name]" /><br/>
                <video ng-if="ctrl.data[f.name].indexOf('mp4') > -1" src="{{ctrl.data[f.name]}}"></video>
                <md-button class="md-raised">{{f.name | translate}}</md-button>
              </div>
            </md-input-container>
          </div>
        </form>
        <p ng-if="ctrl.form.$submitted && ctrl.form.$invalid" class="md-warn" layout="row" layout-align="start center">
          <i class="material-icons">error_outline</i>
          <span>&nbsp; Todos los campos son necesarios</span>
        </p>

      </md-content>
    </md-tab>
    <md-tab label="{{relation.name | translate}}" md-on-select="ctrl.selectTab(relation)" ng-if="relation.type !== '1-1' && ctrl.data[ctrl.currentEntity.defaultSort]"
      ng-repeat="relation in ctrl.currentEntity.relations">
      <md-content class="md-padding" layout-spacing="center">
        <!-- Relation 1-n & n-n -->
        <md-toolbar class="md-table-toolbar md-default" ng-hide="(ctrl.entities[relation.entity].selected.length && relation.type === '1-n') || ctrl.entities[relation.entity].filter.show">
          <div class="md-toolbar-tools">
            <div flex></div>
            <md-button class="md-icon-button" ng-click="ctrl.entities[relation.entity].filter.show = true">
              <md-icon>search</md-icon>
            </md-button>
            <md-button class="md-raised md-primary" ng-if="!ctrl.page.readOnly" ng-click="ctrl.create($event,relation)">CREAR</md-button>
          </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar md-default" ng-show="ctrl.entities[relation.entity].filter.show && (!ctrl.entities[relation.entity].selected.length || relation.type !== '1-n')">
          <div class="md-toolbar-tools">
            <md-icon class="material-icons">search</md-icon>
            <form flex name="ctrl.entities[relation.entity].filter.form" layout="row">
              <input type="text" flex="100" ng-model="ctrl.entities[relation.entity].query.filter" ng-model-options="ctrl.entities[relation.entity].filter.options"
                placeholder="Buscar" ng-change="ctrl.entities[relation.entity].search()">
            </form>
            <md-button class="md-icon-button" ng-click="ctrl.removeFilter(relation)">
              <md-icon class="material-icons">close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.entities[relation.entity].selected.length && relation.type === '1-n'">
          <div class="md-toolbar-tools" layout-align="space-between">
            <div>{{ctrl.entities[relation.entity].selected.length}} {{ctrl.entities[relation.entity].selected.length > 1 ? 'items
              seleccionados' : 'item seleccionado'}}</div>
            <md-button class="md-icon-button" ng-click="ctrl.delete($event,relation)">
              <md-icon class="material-icons">delete</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <div layout="column" flex>
          <table md-table md-row-select multiple ng-model="ctrl.entities[relation.entity].selected" md-progress="ctrl.entities[relation.entity].promise">
            <thead md-head>
              <tr md-row>
                <th md-column ng-repeat="f in ctrl.entities[relation.entity].table.fields" ng-if="f.name !== relation.rightKey">
                  <span>{{f.name | translate}}</span>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-on-select="ctrl.select" md-on-deselect="ctrl.unselect" md-select="item[ctrl.entities[relation.entity].table.defaultSort]"
                md-auto-select ng-repeat="item in ctrl.entities[relation.entity].data">
                <td md-cell ng-repeat="f in ctrl.entities[relation.entity].table.fields" ng-click="ctrl.editField($event,item,f,relation)"
                  ng-if="f.name !== relation.rightKey">
                  <span ng-if="f.type !== 'link'">{{ item[f.name] }}</span>
                  <span ng-if="f.type === 'link'">{{ item[f.table][f.foreign_name] }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <md-table-pagination md-limit="ctrl.entities[relation.entity].query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.entities[relation.entity].query.page"
            md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-total="{{ctrl.entities[relation.entity].total_results}}" md-on-paginate="ctrl.entities[relation.entity].getData"
            md-page-select></md-table-pagination>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>
</div>