<md-dialog add-item-dialog>
  <md-dialog-content class="md-dialog-content">
    
    <h2 class="md-title">Agregar {{ctrl.currentPage.name}}</h2>
    
    <p ng-if="ctrl.form.$submitted && ctrl.form.$invalid" class="md-warn" layout="row" layout-align="start center">
      <i class="material-icons">error_outline</i>
      <span>&nbsp; Todos los campos son necesarios</span>
    </p>
    
    <form name="ctrl.form" ng-submit="ctrl.addItem()">
      <div layout="column" class="input-row">
        <form ng-submit="saveData(ctrl.currentPage.table);" flex>
          <md-input-container ng-repeat="f in ctrl.currentPage.fields" flex>
            <label ng-if="f.type!=='boolean'">{{f.name}}</label>
            <input type="number" ng-if="f.type=='int'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled === 'true'"/>
            <input type="text" ng-if="f.type=='string'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled === 'true'"/>
            <input type="email" ng-if="f.type=='email'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled === 'true'"/>
            <input type="file" ng-if="f.type=='file'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled === 'true'"/>
            <md-checkbox ng-if="f.type=='boolean'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled === 'true'">{{f.name}}</md-checkbox>
            <md-select ng-if="f.type=='link'" ng-model="ctrl.data[f.name]" ng-disabled="f.disabled == 'true'">
							<md-option ng-repeat="o in ctrl.options[f.name]" value="{{o[f.foreign_key]}}">{{o[f.foreign_name]}}</md-option>
            </md-select>
            <textarea ng-if="f.type=='text'" ng-model="ctrl.data[f.name]"></textarea>
          </md-input-container>
        </form>
      </div>
    </form>
    
  </md-dialog-content>
  
  <div class="md-actions">
    <md-button class="md-primary md-raised" ng-click="ctrl.addItem()" ng-disabled="ctrl.form.$invalid">Guardar</md-button>
    <md-button class="md-primary" ng-click="ctrl.cancel()">Cancel</md-button>
  </div>
  
</md-dialog>