<div layout="column" flex>
    <!--md-toolbar layout="row" layout-align="space-around" md-theme="dark">
            <md-button ng-repeat="page in ctrl.sibling" ng-click="ctrl.selectPage(page)">{{page.name}}</md-button>
        </md-toolbar-->
    <md-toolbar class="md-table-toolbar md-default" ng-hide="ctrl.entities[ctrl.entity].selected.length || filter.show">
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ctrl.page.name}}</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="filter.show = true">
                <md-icon class="material-icons">search</md-icon>
            </md-button>
            <md-button class="md-icon-button md-raised md-primary" ng-click="ctrl.download()">
                <md-icon class="material-icons">file_download</md-icon>
            </md-button>
            <!--md-button class="md-raised md-primary" ng-if="!ctrl.page.readOnly" ng-click="ctrl.create($event)">
                <md-icon class="material-icons">add</md-icon>
            </md-button-->
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !ctrl.entities[ctrl.entity].selected.length">
        <div class="md-toolbar-tools">
            <md-icon class="material-icons">search</md-icon>
            <form flex name="filter.form" layout="row">
                <input flex="100" type="text" ng-model="ctrl.entities[ctrl.entity].query.filter" ng-model-options="filter.options" ng-change="ctrl.update()"
                    placeholder="Buscar">
            </form>
            <md-button class="md-icon-button" ng-click="ctrl.removeFilter()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.entities[ctrl.entity].selected.length">
        <div class="md-toolbar-tools" layout-align="space-between">
            <div>{{ctrl.entities[ctrl.entity].selected.length}} {{ctrl.entities[ctrl.entity].selected.length > 1 ? 'items seleccionados'
                : 'item seleccionado'}}</div>
            <md-button class="md-icon-button" ng-click="delete($event)">
                <md-icon class="material-icons">delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" layout="row" ng-show="ctrl.entities[ctrl.entity].filters.length > 0">
        <span flex></span>
        <md-select flex ng-repeat="filter in ctrl.entities[ctrl.entity].filters" ng-model="filter.selected" placeholder="{{filter.name}}"
            ng-change="ctrl.updateFilter(filter)">
            <md-option value="null">{{filter.name}}</md-option>
            <md-option ng-repeat="o in filter.options" value="{{o[filter.filter_key]}}">{{o[filter.filter_name]}}</md-option>
        </md-select>
    </md-toolbar>
    <md-table-container>
        <table md-table ng-model="ctrl.entities[ctrl.entity].selected" md-progress="promise">
            <thead md-head md-order="ctrl.entities[ctrl.entity].query.order" md-on-reorder="ctrl.update">
                <tr md-row>
                    <th md-column md-order-by="id">
                        Id
                    </th>
                    <th md-column md-order-by="name">
                        Nombre
                    </th>
                    <th md-column>
                        <md-select multiple="true" ng-model="ctrl.entities[ctrl.entity].query.filters.id_category" placeholder="Categoría" ng-change="ctrl.update()">
                            <md-option ng-repeat="o in ctrl.options.id_category" value="{{o.id}}">{{o.name}}</md-option>
                        </md-select>
                    </th>
                    <!--th md-column>
                        <md-select multiple="true" ng-model="ctrl.entities[ctrl.entity].query.filters.current_status" placeholder="Estado" ng-change="ctrl.update()">
                            <md-option ng-repeat="o in ctrl.options.current_status" value="{{o.id}}">{{o.name}}</md-option>
                        </md-select>
                    </th-->
                    <th md-column md-order-by="level" style="max-width:50px;">
                        Nivel
                    </th>
                    <th md-column md-order-by="rate" style="max-width:50px;">
                        Calificación
                    </th>
                    <th md-column style="max-width:150px" md-order-by="id_institution">
                        Entidad
                    </th>
                    <th md-column md-order-by="is_active">
                        Activo
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <tr style="max-width:150px" md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in ctrl.data">
                    <td md-cell ng-click="ctrl.details(item)">
                        <span>{{item.id}}</span>
                    </td>
                    <td md-cell ng-click="ctrl.details(item)">
                        <span>{{item.name}}</span>
                    </td>
                    <td md-cell ng-click="ctrl.details(item)">
                        <span>{{item.category.name}}</span>
                    </td>
                    <!--td md-cell ng-click="ctrl.details(item)">
                        <span>{{item.status.name}}</span>
                    </td-->
                    <td md-cell style="max-width:50px;" ng-click="ctrl.details(item)">
                        <span>{{item.level}}</span>
                    </td>
                    <td md-cell style="max-width:50px;" ng-click="ctrl.details(item)">
                        <span>{{item.rate}}</span>
                    </td>
                    <td md-cell ng-click="ctrl.details(item)">
                        <span>{{item.institution.name}}</span>
                    </td>
                    <td md-cell ng-click="ctrl.details(item)">
                        <md-checkbox name="activo" ng-model="item.is_active" ng-disabled="true" aria-label="Activo">Activo</md-checkbox>
                    </td>

                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.entities[ctrl.entity].query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.entities[ctrl.entity].query.page"
        md-total="{{ctrl.entities[ctrl.entity].total_results}}" md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"
        md-on-paginate="ctrl.update" md-page-select></md-table-pagination>
</div>